#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.testsettings
*.log
*.appxupload
*.appx
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
SDK/
nuget/*/content
nuget/*/lib
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
download/
AppPackages/
/DropNet.CLI/possantest.bat
*.nupkg
src/Callisto.VSIX/License.txt
src/Callisto.VSIX/SDKManifest.xml
src/Callisto.VSIX/Redist/
src/Callisto.VSIX/References/
src/Callisto.VSIX/DesignTime/
tools/nuget/callisto/lib
publish.bat