<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Callisto.TestApp" Publisher="CN=Callisto" Version="1.0.0.0" />
  <Properties>
    <DisplayName>TimHeuer.Callisto</DisplayName>
    <PublisherDisplayName>timheuer</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>XamlControlsUITestApp</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Callisto.App">
      <VisualElements DisplayName="Callisto Test App" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Test app for the control suite" ForegroundText="dark" BackgroundColor="red">
        <DefaultTile ShowName="allLogos" ShortName="Callisto Test App" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FFFFFF" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>