<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Callisto.TestApp" Publisher="CN=timheuer" Version="1.0.0.0" />
  <Properties>
    <DisplayName>XamlControlsUITestApp</DisplayName>
    <PublisherDisplayName>timheuer</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>XamlControlsUITestApp</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="XamlControlsUITestApp.App">
      <VisualElements DisplayName="XamlControlsUITestApp" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="XamlControlsUITestApp" ForegroundText="light" BackgroundColor="#222222">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>